// Base
$base-font-color: #333;
$base-background: #fff;
$base-font: 'Hiragino Kaku Gothic ProN', 'Yu Gothic', 'Roboto', sans-serif;

// Site
$site-title-color: #fff;
$site-title-font-size: 30px;
$header-menu-color: #fff;
$footer-menu-color: #fff;

// Backgrounds
$header-background: #ffa500;
$content-background: rgba(255, 255, 0, 0.3);
$footer-background: #ffa500;

// Site detail
$title-border: #f80;
$pickup-title-border: #ff6688;
$ranking-title-border: #ff9800;
$border:#f80;
$light-border: #fe9;
$light-background: #fa3;
$light-text: #fff;

// Size
$pc-menu-icon-size: 100px;
$sp-menu-icon-size: 110px;
$sp-width: 600px;