// Base
$base-font-color: #fff;
$base-background: #8bd3dd;
$base-font: 'Hiragino Kaku Gothic ProN', 'Yu Gothic', 'Roboto', sans-serif;

// Site
$site-title-color:#fff;
$site-title-font-size: 30px;
$header-menu-color:#fff;
$footer-menu-color:#fff;

// Backgrounds
$header-background: #f582ae;
$content-background: #f8f5f2;
$footer-background: #f582ae;

// Site detail
$title-border:#fff;
$pickup-title-border:#795548;
$ranking-title-border:#ff9800;
$border: #ccc;
$light-border: #fff;
$light-background: #f582ae;
$light-text: #fff;

// Size
$pc-menu-icon-size: 100px;
$sp-menu-icon-size: 110px;
$sp-width: 600px;
