// Base
$base-font-color: #000;
$base-background: #fff;
$base-font: 'Hiragino Kaku Gothic ProN', 'Yu Gothic', 'Roboto', sans-serif;

// Site
$site-title-color:#fff;
$site-title-font-size: 30px;
$header-menu-color:#fff;
$footer-menu-color:#fff;

// Backgrounds
$header-background: #f9b2b2;
$content-background: #fee;
$footer-background: #f9b2b2;

// Site detail
$title-border:#ffc0cb;
$pickup-title-border:#ff6688;
$ranking-title-border:#ff9800;
$border: #eee;
$light-border: #fff;
$light-background: #f5f5f5;
$light-text: #8f8f8f;

// Size
$pc-menu-icon-size: 100px;
$sp-menu-icon-size: 110px;
$sp-width: 600px;
