
a {
    color: inherit;
    text-decoration: none;
}
a:hover, a:hover * {
    cursor: pointer;
    opacity: 0.75;
}
h1 {
    font-size: 28px;
    font-weight: bold;
}
h2 {
    font-size: 25px;
    font-weight: bold;
}
h3 {
    font-size: 20px;
    font-weight: bold;
}
h4 {
    font-size: 18px;
    font-weight: bold;
}
h5 {
    font-size: 16px;
    font-weight: bold;
}
h6 {
    font-size: 14px;
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6, ul, li, ol, pre {
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: $sp-width) {
    h1 {
        font-size: 18px;
        font-weight: bold;
    }
    h2 {
        font-size: 17px;
        font-weight: bold;
    }
    h3 {
        font-size: 16px;
        font-weight: bold;
    }
    h4 {
        font-size: 15px;
        font-weight: bold;
    }
    h5 {
        font-size: 14px;
        font-weight: bold;
    }
    h6 {
        font-size: 13px;
        font-weight: bold;
    }
}
