// Base
$base-font-color: #000;
$base-background: #fff;
$base-font: 'Hiragino Kaku Gothic ProN', 'Yu Gothic', 'Roboto', sans-serif;

// Site
$site-title-color:#494949;
$site-title-font-size: 30px;
$header-menu-color:#333;
$footer-menu-color:#333;

// Backgrounds
$header-background: #fff;
$content-background: #f6f6f6;
$footer-background: #fff;

// Site detail
$title-border:#494949;
$pickup-title-border:#ff6688;
$ranking-title-border:#ff9800;
$border: #ccc;
$light-border: #e8e8e8;
$light-background: #f5f5f5;
$light-text: #8f8f8f;

// Size
$pc-menu-icon-size: 100px;
$sp-menu-icon-size: 110px;
$sp-width: 600px;
