// Colors
$base-background: #f6f6f6;
$site-title:#494949;
$header-menu:#333;
$footer-menu:#333;
$title-border:#494949;
$border: #e8e8e8;
$light-background: #f5f5f5;
$light-text: #8f8f8f;
// width
$sp-width: 600px;
