.index {
    %__title {
        padding: 5px 20px;
        box-shadow: 2px 1px 4px $border;
        background: $base-background;
        font-size: 25px;
    }
    &__title {
        @extend %__title;
        margin: 20px 10px 10px 10px;
        border-left: 10px solid $title-border;
        &--pickup {
            @extend %__title;
            margin: 20px 10px 10px 10px;
            border-left: 10px solid $pickup-title-border;
        }
    }
    &__articleCardList {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

@media only screen and (max-width: $sp-width) {
    .index {
        &__title {
            margin-top: 10px;
            &--pickup {
                margin-top: 10px;
            }
        }
        &__articleCardList {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
}
