{{ $articles := .articles }}
{{ $from := .from }}
{{ $archives := slice }}
{{ if $articles }}
    {{ $latest := index (first 1 $articles) 0 }}
    {{ $oldest := index (last 1 $articles) 0 }}
    {{ $startYear := int ((index $latest.Params $from).Format "2006") }}
    {{ $endYear := int ((index $oldest.Params $from).Format "2006") }}
    {{ range $year := seq $startYear $endYear }}
        {{ $yearStr := string $year }}
        {{ $yearArticles := where $articles (printf ".Params.%s.Year" $from) $year }}
        {{ $year_list := slice }}
        {{ range $month := seq 12 1 }}
            {{ $monthArticles := where $yearArticles (printf ".Params.%s.Month" $from) $month }}
            {{ if $monthArticles }}
                {{ $year_list = $year_list | append (dict (string $month) $monthArticles) }}
            {{ end }}
        {{ end }}
        {{ if $year_list }}
            {{ $archives = $archives | append (dict $yearStr $year_list) }}
        {{ end }}
    {{ end }}
{{ end }}
{{ return $archives }}
