<article class="partials__articleCard">
    <div class="partials__articleCard__inner">
        <a href="{{ .Permalink }}" class="partials__articleCard__link"></a>
        {{ $thumbnail := or
            (.Resources.GetMatch "thumbnail.*")
            (resources.Get .Params.thumbnail)
            (resources.Get .Site.Params.defaultNoimage)
        }}
        {{ if $thumbnail }}
            {{ $thumbnail = $thumbnail.Fill (printf "640x360 center q%d webp" .Site.Params.imageQuality) }}
            <img src='{{ $thumbnail.Permalink  }}' alt="{{ .Title }}" loading="lazy" class="partials__articleCard__thumbnail">
        {{ end }}
        <h4 class="partials__articleCard__title">
            {{ .Title }}
        </h4>
        <div class="partials__articleCard__detail">
            {{ with .Params.categories }}
                <a href="{{ "categories" | relURL }}/{{ . }}">
                    <i class="fas fa-folder"></i>&nbsp;{{ . }}
                </a>
            {{ end }}
            <div class="partials__articleCard__detail__center"></div>
            <div>
                <i class="fas fa-clock"></i>&nbsp;{{ .Lastmod.Format "2006-01-02" }}
            </div>
        </div>

        {{ $tags := .GetTerms "tags" }}
        {{ if $tags }}
            {{ partial "tag-list.html" (dict "tags" $tags) }}
        {{ end }}

        <div class="partials__articleCard__description">
            {{ .Summary }}
        </div>
    </div>
</article>