<div class="partials__footer">
    <div class="partials__footer__menu">
        <nav>
            {{- if .Site.Params.footerMenu.left -}}
                <ul class="partials__footer__menu__list">
                    {{- range .Site.Params.footerMenu.left -}}
                        <li><a href="{{- .url | relURL -}}">{{- .title -}}</a></li>
                    {{- end -}}
                </ul>
            {{- end -}}
        </nav>
        <nav>
            {{- if .Site.Params.footerMenu.right -}}
                <ul class="partials__footer__menu__list">
                    {{- range .Site.Params.footerMenu.right -}}
                        <li><a href="{{- .url | relURL -}}">{{- .title -}}</a></li>
                    {{- end -}}
                </ul>
            {{- end -}}
        </nav>
    </div>
    <p class="partials__footer__copyright">
        {{ if .Site.Params.copyright.link }}
            ©&nbsp;{{ .Site.Params.copyright.year }}&nbsp;<a href="{{ .Site.Params.copyright.link }}">{{ .Site.Params.copyright.author }}</a>
        {{ else }}
            ©&nbsp;{{ .Site.Params.copyright.year }}&nbsp;{{ .Site.Params.copyright.author }}
        {{ end }}
    </p>
</div>
