{{ define "header" }}
    <div class="partials__header">
        <div class="partials__header__title">
            <a href="{{ $.Site.BaseURL }}">
                {{ $.Site.Title }}
            </a>
            <div id="hamburger" class="spShow close partials__header__hamburger">
                <div class="partials__header__hamburger__line"></div>
            </div>
        </div>
        <div id="hamburgerMenu" class="close partials__header__menu">
            <nav class="spShow partials__header__menu__search">
                <form action="{{ "search/" | relURL }}" class="partials__header__menu__search__form">
                    <input type="text" name="query" id="search" class="partials__header__menu__search__query">
                    <button type="submit" class="partials__header__menu__search__button">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </nav>
            <nav class="partials__header__menu__topMenu">
                <ul class="partials__header__menu__topMenu__items">
                    {{ range .Site.Menus.header }}
                        <li class="partials__header__menu__topMenu__item">
                            <a href="{{ .URL }}" class="partials__header__menu__topMenu__itemLink">{{ .Name }}</a>
                        </li>
                    {{ end }}
                </ul>
            </nav>
            <nav class="spShow partials__header__menu__sideMenu">
                <h3 class="partials__header__menu__sideMenu__title">
                    メニュー
                </h3>
                <ul class="partials__header__menu__sideMenu__items">
                    {{ range .Site.Menus.sidebar }}
                        <li class="partials__header__menu__sideMenu__item">
                            <a href="{{ .URL }}" class="partials__header__menu__sideMenu__itemLink">
                                <div class="partials__header__menu__sideMenu__itemIcon">
                                    {{ .Pre }}
                                </div>
                                <div class="partials__header__menu__sideMenu__itemTitle">
                                    {{ .Name }}
                                </div>
                            </a>
                        </li>
                    {{ end }}
                </ul>
            </nav>
        </div>
    </div>
{{ end }}

{{ define "header-script" }}
    <script>
        document.querySelectorAll('#hamburger, #overlay').forEach(ele => {
            ele.addEventListener('click', function(ev) {
                document.querySelector('#hamburger').classList.toggle('open')
                document.querySelector('#hamburger').classList.toggle('close')
                document.querySelector('#hamburgerMenu').classList.toggle('open')
                document.querySelector('#hamburgerMenu').classList.toggle('close')
                document.querySelector('#overlay').classList.toggle('open')
                document.querySelector('#overlay').classList.toggle('close')
            })
        })
    </script>
{{ end }}
