{{ define "sidebar" }}
    <div class="partials__sidebar">
        <div class="pcShow partials__sidebar__card">
            <h4 class="partials__sidebar__title">
                検索
            </h4>
            <nav class="partials__sidebar__search">
                <form action="{{ "search/" | relURL }}" method="get" class="partials__sidebar__search__form">
                    <input type="text" name="query" id="search" class="partials__sidebar__search__query">
                    <button type="submit" class="partials__sidebar__search__button">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </nav>
        </div>

        <div class="partials__sidebar__card">
            <h3 class="partials__sidebar__title">
                プロフィール
            </h3>
            <nav class="partials__sidebar__profile">
                {{ $icon := resources.Get .Site.Params.profile.icon }}
                {{ if $icon }}
                    {{ $icon = $icon.Fill (printf "200x200 center q%d webp" .Site.Params.imageQuality) }}
                {{ else }}
                    {{ $icon = resources.Get .Site.Params.dafaultNoimage }}
                    {{ $icon = $icon.Fill (printf "200x200 center q%d webp" .Site.Params.imageQuality) }}
                {{ end }}
                <img src="{{ $icon.Permalink }}" alt="icon" class="partials__sidebar__profile__icon">
                <div class="partials__sidebar__profile__name">
                    {{ .Site.Params.profile.name }}
                </div>
                <div class="partials__sidebar__profile__description">
                    {{ .Site.Params.profile.description }}
                </div>
                {{ partial "sns-links" (dict "link" .Site.Params.profile.link ) }}
            </nav>
        </div>

        {{ with .Site.Params.twitterTimeline }}
            <div class="partials__sidebar__card">
                <h3 class="partials__sidebar__title">
                    タイムライン
                </h3>
                <nav class="partials__sidebar__twitterTimeline">
                    <a class="twitter-timeline" href="https://twitter.com/{{ . }}">Tweets by {{ . }}</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </nav>
            </div>
        {{ end }}

        <div class="partials__sidebar__card">
            <h4 class="partials__sidebar__title">
                お知らせ
            </h4>
            <nav class="partials__sidebar__information">
                <a href="{{ "information" | relURL }}">
                    <div>
                        {{ with .Site.GetPage "/information" }}
                            {{ if .Page.Content }}
                                {{ range split (index (split .RawContent "\n\n") 0) "  " }}
                                    {{ . }}<br>
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    </div>
                </a>
            </nav>
        </div>

        <div class="partials__sidebar__card">
            <h3 class="partials__sidebar__title">
                メニュー
            </h3>
            <nav class="partials__sidebar__menu">
                <ul class="partials__sidebar__menu__items">
                    {{ range .Site.Menus.sidebar }}
                        <li class="partials__sidebar__menu__item">
                            <a href="{{ .URL }}" class="partials__sidebar__menu__itemLink">
                                <div class="partials__sidebar__menu__itemIcon">
                                    {{ .Pre }}
                                </div>
                                <div class="partials__sidebar__menu__itemTitle">
                                    {{ .Name }}
                                </div>
                            </a>
                        </li>
                    {{ end }}
                </ul>
            </nav>
        </div>

        <div class="partials__sidebar__card">
            <h3 class="partials__sidebar__title">
                新着記事
            </h3>
            <nav class="partials__sidebar__article">
                <ul class="partials__sidebar__article__items">
                    {{ range first .Site.Params.newArticleLimit (where .Site.RegularPages.ByLastmod.Reverse ".Section" "==" "article") }}
                        <li class="partials__sidebar__article__item">
                            <a href="{{ .Permalink }}" class="partials__sidebar__article__itemLink">
                                {{ $thumbnail := or
                                    (.Resources.GetMatch "thumbnail.*")
                                    (resources.Get .Params.thumbnail)
                                    (resources.Get .Site.Params.dafaultNoimage)
                                }}
                                {{ if $thumbnail }}
                                    {{ $thumbnail = $thumbnail.Fill (printf "192x108 center q%d webp" .Site.Params.imageQuality) }}
                                {{ end }}
                                <img src='{{ $thumbnail.Permalink }}' alt="{{ .Title }}" loading="lazy" class="partials__sidebar__article__itemThumbnail">
                                <div class="partials__sidebar__article__itemDetail">
                                    <div class="partials__sidebar__article__itemTitle--line3">
                                        {{ .Title }}
                                    </div>
                                </div>
                            </a>
                        </li>
                    {{ end }}
                </ul>
            </nav>
        </div>

        {{ if .Site.Taxonomies.pickups.sidebar  }}
            <div class="partials__sidebar__card">
                <h3 class="partials__sidebar__title--pickup">
                    ピックアップ
                </h3>
                <nav class="partials__sidebar__article">
                    <ul class="partials__sidebar__article__items">
                        {{ range .Site.Taxonomies.pickups.sidebar }}
                            <li class="partials__sidebar__article__item">
                                <a href="{{ .Permalink }}" class="partials__sidebar__article__itemLink">
                                    {{ $thumbnail := or
                                        (.Resources.GetMatch "thumbnail.*")
                                        (resources.Get .Params.thumbnail)
                                        (resources.Get .Site.Params.dafaultNoimage)
                                    }}
                                    {{ if $thumbnail }}
                                        {{ $thumbnail = $thumbnail.Fill (printf "192x108 center q%d webp" .Site.Params.imageQuality) }}
                                    {{ end }}
                                    <img src='{{ $thumbnail.Permalink }}' alt="{{ .Title }}" loading="lazy" class="partials__sidebar__article__itemThumbnail">
                                    <div class="partials__sidebar__article__itemDetail">
                                        <div class="partials__sidebar__article__itemTitle--line3">
                                            {{ .Title }}
                                        </div>
                                    </div>
                                </a>
                            </li>
                        {{ end }}
                    </ul>
                </nav>
            </div>
        {{ end }}

        {{ $ranking := slice }}
        {{ range $item := sort .Site.Data.ranking.items "pv" "desc" }}
            {{ with $page := $.Site.GetPage (path.Clean $item.pagePath) }}
                {{ if eq .Section "article" }}
                    {{ $ranking = $ranking | append (dict "page" $page "pv" $item.pv) }}
                {{ end }}
            {{ end }}
        {{ end }}
        {{ if ge (len $ranking) .Site.Params.rankingArticleLimit }}
            <div class="partials__sidebar__card">
                <h3 class="partials__sidebar__title--ranking">
                    ランキング
                </h3>
                <nav class="partials__sidebar__article">
                    <ul class="partials__sidebar__article__items">
                        {{ range first .Site.Params.rankingArticleLimit $ranking }}
                            {{ $pv := .pv }}
                            {{ with .page }}
                                <li class="partials__sidebar__article__item">
                                    <a href="{{ .Permalink }}" class="partials__sidebar__article__itemLink">
                                        {{ $thumbnail := or
                                            (.Resources.GetMatch "thumbnail.*")
                                            (resources.Get .Params.thumbnail)
                                            (resources.Get .Site.Params.dafaultNoimage)
                                        }}
                                        {{ if $thumbnail }}
                                            {{ $thumbnail = $thumbnail.Fill (printf "192x108 center q%d webp" .Site.Params.imageQuality) }}
                                        {{ end }}
                                        <img src='{{ $thumbnail.Permalink }}' alt="{{ .Title }}" loading="lazy" class="partials__sidebar__article__itemThumbnail">
                                        <div class="partials__sidebar__article__itemDetail">
                                            <div class="partials__sidebar__article__itemTitle--line2">
                                                {{ .Title }}
                                            </div>
                                            <div class="partials__sidebar__article__itemPv">
                                                {{ $pv }}pv
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            {{ end }}
                        {{ end }}
                    </ul>
                </nav>
            </div>
        {{ end }}

        <div class="partials__sidebar__card">
            <h3 class="partials__sidebar__title">
                カテゴリー
            </h3>
            <nav class="partials__sidebar__category">
                <ul class="partials__sidebar__category__items">
                    {{ range .Site.Taxonomies.categories.ByCount }}
                        <li class="partials__sidebar__category__item">
                            <a href="{{ "categories" | relURL }}/{{ .Term }}" class="partials__sidebar__category__itemLink">
                                <div>
                                    <i class="fas fa-arrow-circle-right partials__sidebar__category__itemIcon"></i>
                                    {{ .Term }}
                                </div>
                                <div class="partials__sidebar__category__itemCount">
                                    {{ .Count }}
                                </div>
                            </a>
                        </li>
                    {{ end }}
                </ul>
            </nav>
        </div>

        <div class="partials__sidebar__card">
            <h3 class="partials__sidebar__title">
                タグ
            </h3>
            <nav class="partials__sidebar__tag">
                {{ partial "tag-list.html" (dict "tags" .Site.Taxonomies.tags.ByCount) }}
            </nav>
        </div>

        {{ if .Site.Taxonomies.archives }}
            <div class="partials__sidebar__card">
                <h3 class="partials__sidebar__title">
                    アーカイブ
                </h3>
                <nav class="partials__sidebar__archive">
                    <ul class="partials__sidebar__archive__yearList">
                        {{ $articles := where .Site.RegularPages.ByDate.Reverse ".Section" "==" "article"}}
                        {{ $archives := partial "functions/archives" (dict "articles" $articles "from" "Date") }}
                        {{ range $archives }}
                            {{ range $year, $year_list := . }}
                                <li class="close archive-accordion partials__sidebar__archive__yearItem">
                                    <div class="partials__sidebar__archive__yearItemTitle">{{ $year }}年</div>
                                    <div class="archive-accordion-child-wrapper partials__sidebar__archive__monthListWrapper">
                                        <ul class="archive-accordion-child partials__sidebar__archive__monthList">
                                            {{ range $year_list }}
                                                <li class="archive-accordion-child partials__sidebar__archive__monthItem">
                                                    {{ range $month, $month_list := . }}
                                                        <a href="{{ "archives" | relURL }}/{{ printf "%s年%s月" $year $month }}" class="partials__sidebar__archive__monthItemLink">
                                                            {{ printf "%s年%s月" $year $month }}（{{ len $month_list }}）
                                                        </a>
                                                    {{ end }}
                                                </li>
                                            {{ end }}
                                        </ul>
                                    </div>
                                </li>
                            {{ end }}
                        {{ end }}
                    </ul>
                </nav>
            </div>
            <script>
                document.querySelectorAll('.archive-accordion').forEach(function(ele) {
                    ele.addEventListener('click', function(ev) {
                        if (ev.target.tagName === 'A') {
                            return
                        }
                        ev.currentTarget.classList.toggle('open')
                        ev.currentTarget.classList.toggle('close')
                        if (ev.currentTarget.classList.contains('open')) {
                            ev.currentTarget.querySelector('.archive-accordion-child-wrapper').style.height = ev.currentTarget.querySelector('.archive-accordion-child').offsetHeight + 'px'
                        } else {
                            ev.currentTarget.querySelector('.archive-accordion-child-wrapper').style.height = '0'
                        }
                    })
                })
            </script>
        </div>
    {{ end }}
{{ end }}