{{- define "robots" -}}
    <meta name="robots" content="noindex,nofollow">
{{- end -}}
{{- define "googlebot" -}}
    <meta name="googlebot" content="noindex,nofollow">
{{- end -}}
{{ define "main" }}
    <section class="notFound">
        <div class="notFound__inner">
            <div class="notFound__titleWrapper">
                <h1 class="notFound__title">404 Not Found</h1>
            </div>
            {{ $image := resources.Get .Site.Params.notFoundImage }}
            {{ if $image }}
                {{ $image = $image.Fit (printf "640x640 center q%d webp" .Site.Params.imageQuality) }}
                <img src="{{ $image.RelPermalink  }}" alt="404 Not Found" loading="lazy" class="notFound__image">
            {{ end }}
        </div>
    </section>
{{ end }}
