.single {
    &__article {
        width: 740px;
        min-height: 600px;
        margin: 20px auto auto;
        padding: 20px;
        background: $base-background;
        border: 1px solid $light-border;
        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__date {
            font-size: 15px;
            & i {
                margin-right: 5px;
            }
        }
        &__title {
            margin-top: 30px;
            margin-bottom: 15px;
            padding-bottom: 2px;
            border-bottom: 3px solid $title-border;
        }
        &__shareLinks {
            margin-bottom: 20px;
        }
        &__tag {
            &__items {
                list-style: none;
                display: flex;
                flex-wrap: wrap;
            }
            &__itemLink {
                display: flex;
                align-items: center;
                margin-right: 6px;
                margin-bottom: 6px;
                padding: 3px 6px;
                background: $light-background;
                font-size: 12px;
                color: $light-text;
            }
            &__itemIcon {
                margin-right: 5px;
            }
        }
        &__thumbnail {
            margin: 20px auto;
        }
        &__content {
            margin: 40px 10px;
            font-size: 16px;
            line-height: 200%;
            word-break: break-all;
            h1 {
                padding-left: 20px;
                border-left: 10px solid $title-border;
            }
        }
    }
    &__relatedArticleList {
        &__title {
            margin: 20px 10px 10px;
            padding: 5px 20px;
            box-shadow: 2px 1px 4px $border;
            background: $base-background;
            border-left: 10px solid $title-border;
            font-size: 25px;
        }
    }
    &__navigation {
        margin-top: 10px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        &__prev {
            position: relative;
            width: 47.5%;
            padding: 10px;
            padding-left: 30px;
            background: $base-background;
            border: 1px solid $light-border;
            display: flex;
            align-items: center;
            &::before {
                content: "<";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 10px;
                font-weight: bold;
            }
        }
        &__next {
            position: relative;
            width: 47.5%;
            padding: 10px;
            padding-right: 30px;
            background: $base-background;
            border: 1px solid $light-border;
            display: flex;
            align-items: center;
            &::after {
                content: ">";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 10px;
                font-weight: bold;
            }
        }
        &__center {
            margin: auto;
        }
    }
}

@media only screen and (max-width: $sp-width) {
    .single {
        &__article {
            width: 100%;
            min-height: 500px;
            margin-top: 10px;
            padding: 12.5px;
            &__header {
                display: block;
            }
            &__date {
                margin-bottom: 10px;
                font-size: 14px;
            }
            &__title {
                margin-top: 20px;
                margin-bottom: 5px;
            }
            &__content {
                margin: 20px 5px;
                font-size: 16px;
                line-height: 150%;
                p {
                    margin: 15px 0;
                }
            }
        }
        &__relatedArticleList {
            &__title {
                margin: 20px 0 5px;
            }
        }
        &__navigation {
            margin-bottom: 0;
            font-size: 14px;
        }
    }
}
