
.partials {
    &__breadcrumb {
        list-style: none;
        display: flex;
        white-space: nowrap;
        font-size: 14px;
        color: rgba($base-font-color, 0.6);
        & li:not(:first-child) {
            margin-left: 6px;
        }
        & li:last-child {
            max-width: 250px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        & i {
            margin-right: 6px;
        }
    }
}


@media only screen and (max-width: $sp-width) {
    .partials {
        &__breadcrumb {
            overflow-x: auto;
            padding-bottom: 8px;
            margin-bottom: -8px;
            & li:last-child {
                max-width: 250px;
                overflow: initial;
                text-overflow: initial;
            }
        }
    }
}
