.partials {
    &__header {
        &__title {
            position: relative;
            padding: 20px 0;
            font-size: $site-title-font-size;
            font-weight: bold;
            color: $site-title-color;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__hamburger {
            position: relative;
            width: 33px;
            height: 23px;
            &::before {
                content: "";
                width: 100%;
                position: absolute;
                top: 0;
                border-top: 2px solid $title-border;
                transition: 0.3s ease-in-out;
            }
            &.open::before {
                top: 45%;
                transform: rotate(45deg);
            }
            &::after {
                content: "";
                width: 100%;
                position: absolute;
                bottom: 0;
                border-top: 2px solid $title-border;
                transition: 0.3s ease-in-out;
            }
            &.open::after {
                bottom: 45%;
                transform: rotate(135deg);
            }
            &__line {
                width: 100%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                border-bottom: 2px solid $title-border;
                transition: 0.3s ease-in-out;
                opacity: 1;
            }
            &.open &__line {
                opacity: 0;
            }
        }
        &__menu {
            padding: 10px 0;
            &__items {
                list-style: none;
                display: flex;
            }
            &__item {
                flex: 1;
                text-align: center;
                font-size: 18px;
            }
            &__item:not(:last-child) {
                border-right: 2px solid $border;
            }
            &__itemLink {
                display: block;
                font-weight: bold;
                color: $header-menu-color;
            }
        }
    }
}

@media only screen and (max-width: $sp-width) {
    .partials {
        &__header {
            &__title {
                padding: 0;
                font-size: $site-title-font-size * 0.65;
            }
            &__menu {
                position: absolute;
                width: 100%;
                right: -100%;
                margin-top: 14px;
                background: $base-background;
                border-top: 1px solid $light-border;
                border-bottom: 1px solid $light-border;
                transition: 0.3s ease-in-out;
                &.open {
                    right: 0;
                }
                &__items {
                    display: flex;
                    flex-direction: column;
                    border: none;
                    padding: 0 20px 2px;
                }
                &__itemLink {
                    padding: 10px;
                }
                &__item:not(:last-child) {
                    border-right: none;
                    border-bottom: 1px solid $border;
                }
            }
        }
    }
}
