.partials {
    &__header {
        &__title {
            position: relative;
            padding: 20px 0;
            font-size: $site-title-font-size;
            font-weight: bold;
            color: $site-title-color;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__hamburger {
            position: relative;
            width: 33px;
            height: 23px;
            &::before {
                content: "";
                width: 100%;
                position: absolute;
                top: 0;
                border-top: 2px solid $header-menu-color;
                transition: 0.3s ease-in-out;
            }
            &.open::before {
                top: 45%;
                transform: rotate(45deg);
            }
            &::after {
                content: "";
                width: 100%;
                position: absolute;
                bottom: 0;
                border-top: 2px solid $header-menu-color;
                transition: 0.3s ease-in-out;
            }
            &.open::after {
                bottom: 45%;
                transform: rotate(135deg);
            }
            &__line {
                width: 100%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                border-bottom: 2px solid $header-menu-color;
                transition: 0.3s ease-in-out;
                opacity: 1;
            }
            &.open &__line {
                opacity: 0;
            }
        }
        &__menu {
            padding: 10px 0;
            &__topMenu {
                &__items {
                    list-style: none;
                    display: flex;
                }
                &__item {
                    flex: 1;
                    text-align: center;
                    font-size: 18px;
                }
                &__item:not(:last-child) {
                    border-right: 2px solid $border;
                }
                &__itemLink {
                    display: block;
                    font-weight: bold;
                    color: $header-menu-color;
                }
            }
        }
    }
}

@media only screen and (max-width: $sp-width) {
    .partials {
        &__header {
            &__title {
                padding: 0;
                font-size: $site-title-font-size * 0.65;
            }
            &__menu {
                position: absolute;
                width: 100%;
                right: -101%;
                overflow-y: scroll;
                height: 80vh;
                margin-top: 14px;
                padding: 12.5px;
                background: $header-background;
                transition: 0.3s ease-in-out;
                &.open {
                    right: 0;
                }
                &__search {
                    &__form {
                        height: 36px;
                        display: flex;
                    }
                    &__query {
                        width: 85%;
                        border: 1px solid $border;
                        padding: 10px;
                        outline: 0;
                    }
                    &__button {
                        width: 15%;
                        margin-left: -3px;
                        border: 1px solid $border;
                        background: $light-background;
                        color: $light-text;
                    }
                }
                &__topMenu {
                    margin-top: 10px;
                    &__items {
                        display: flex;
                        flex-direction: column;
                        border: none;
                    }
                    &__itemLink {
                        padding: 10px;
                    }
                    &__item:not(:last-child) {
                        border-right: none;
                        border-bottom: 1px solid $border;
                    }
                }
                &__sideMenu {
                    padding: 10px 20px;
                    background: $base-background;
                    &__title {
                        margin-bottom: 15px;
                        padding-bottom: 2px;
                        border-bottom: 2px solid $title-border;
                    }
                    &__items {
                        list-style: none;
                        display: flex;
                        justify-content: space-around;
                        flex-wrap: wrap;
                        margin: auto;
                    }
                    &__item {
                        width: $sp-menu-icon-size;
                        height: $sp-menu-icon-size;
                        margin: 10px auto;
                        border: 1px solid $light-border;
                        border-radius: 10%;
                        box-shadow: 2px 3px 4px $border;
                        transition: 0.3s ease-in-out;
                        &:hover {
                            transform: translate3d(2px, 3px, 1px);
                            box-shadow: 0px 1px 2px $border;
                        }
                    }
                    &__itemLink {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        flex-direction: column;
                        margin-top: 3px;
                        &:hover, &:hover * {
                            opacity: 1;
                        }
                    }
                    &__itemIcon {
                        pointer-events: none;
                    }
                    &__itemTitle {
                        margin-top: 2px;
                    }
                }
            }
        }
    }
}
